* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 800px;
    margin: auto;
    /* text-align: center; */
    padding-top: 30px;
}

a {
    color: rgb(107, 105, 105);
}

.bookaddform,
.booklist,
.authoraddform,
.authorlist {
    display: inline-block;
    vertical-align: top;
    width: 350px;
    min-height: 300px;
    padding-bottom: 20px;
    /* margin-top: 30px; */
}

.bookaddform,
.authoraddform {
    margin-right: 60px;
}

.detail p {
    display: inline-block;
    vertical-align: top;
}

.btn-sm {
    font-size: 11px;
    padding: 0px 5px;
}

.form-group label {
    font-size: 14px;
}

.btn-dark {
    font-size: 15px;
    margin-left: 140px;
}

.title {
    margin-bottom: 15px;
    margin-left: 85px;
}

.booklist table tr td,
.authorlist table tr td {
    padding: 7px 5px;
}

.backbtn {
    display: flex;
    justify-content: center;
    background-color: rgb(248, 251, 252);
}