<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authors</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <link rel="stylesheet" href="/Users/jayoung/Desktop/Dojo_Assignments/Python/Django/ORM/Books_Authors/app_one/static/css/style.css"> -->
</head>
<body>
    <div class="container">
        <h1 class="title">{{authordetail.first_name}} {{authordetail.last_name}}</h1>

        <table class="table">
            <tbody>
                <tr>
                    <td>ID</td>
                    <td>{{authordetail.id}}</td>
                </tr>
                <tr>
                    <td>Notes</td>
                    <td>{{authordetail.notes}}</td>
                </tr>
                <tr>
                    <td>Books</td>
                    <td>
                        <ul>
                        {% for book in authordetail.books.all %}
                            <li>{{book.title}}</li>
                        {% endfor %}
                        </ul>
                        <form action="/authors/{{authordetail.id}}/addbooktoauthor" method="POST">
                            {% csrf_token %}
                            <div class="form-group row">
                                <div class="col-sm-8">
                                    <select class="form-control form-control-sm" id="addbooktoauthor" name="addbooktoauthor">
                                        <option selected>- Add a Book -</option>
                                        {% for key in other_books %}
                                            <option value="{{key.id}}">{{key.title}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-outline-dark btn-sm">Add</button>
                            </div>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <a class="btn btn-light" href="/authors" role="button">Back</a>
    </div>
</body>
</html>