<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <link rel="stylesheet" href="/Users/jayoung/Desktop/Dojo_Assignments/Python/Django/ORM/Books_Authors/app_one/static/css/style.css"> -->
</head>
<body>
    <div class="container">
        <h1 class="title">{{bookdetail.title}}</h1>

        <table class="table">
            <tbody>
                <tr>
                    <td>ID</td>
                    <td>{{bookdetail.id}}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{bookdetail.desc}}</td>
                </tr>
                <tr>
                    <td>Authors</td>
                    <td>
                        <ul>
                        {% for author in bookdetail.authors.all %}
                            <li>{{author.first_name}} {{author.last_name}}</li>
                        {% endfor %}
                        </ul>
                        <form action="/books/{{bookdetail.id}}/addauthortobook" method="POST">
                            {% csrf_token %}
                            <div class="form-group row">
                                <div class="col-sm-8">
                                    <select class="form-control form-control-sm" id="addauthortobook" name="addauthortobook">
                                        <option selected>- Add an Author -</option>
                                        {% for key in other_authors %}
                                            <option value="{{key.id}}">{{key.first_name}} {{key.last_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-outline-dark btn-sm">Add</button>
                            </div>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <a class="btn btn-light" href="/books" role="button">Back</a>
    </div>
</body>
</html>